# типичное для операционных систем
__MACOSX/
.DS_Store
Thumbs.db

# Исключаем некоторые бинарники и ненужные файлы из под версионного контроля. Понятно, что всего не перечислить, но хоть что-то
*.csv
*.gz
*.tar
*.bat
*.dat
*.pdf
*.psd
*.log
*.txt
!robots.txt
*.flv
*.wmv
*.xlsx
*.xls
*.docx
*.doc
*.phar
*.mmdb

# Настройки проекта в IDE не распространяем между разработчиками
/.idea/

# Логи не стоит версионировать
/logs/

# Исключаем внешние библиотеки и зависимости. Они должны устанавливаться при деплое
/bower_components/
/node_modules/
/vendor/

# В корне сайта постоянно лежат какие-нибудь файлы верификации. В php-проектах обычно голые html файлы не используются для публикации реальных страниц
/htdocs/*.html

# Ядро нам не нужно версионировать, оно лежит в отдельном репозитории
/htdocs/bitrix/
/htdocs/upload/

# Собранный фронтенд
/htdocs/assets/build/