

/* Start:/bitrix/components/bitrix/system.show_message/templates/.default/style.min.css?179127751851*/
font.errortext{color:red}font.notetext{color:green}
/* End */


/* Start:/bitrix/components/bitrix/news/templates/.default/bitrix/news.list/.default/style.css?1791277530150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /bitrix/components/bitrix/system.show_message/templates/.default/style.min.css?179127751851 */
/* /bitrix/components/bitrix/news/templates/.default/bitrix/news.list/.default/style.css?1791277530150 */
